body {
	/*Box model stuff*/
	width: 100%;
	height: 100%;
	margin: 0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	/*Typography stuff*/
	font-family: "Bakbak One", cursive;
	text-align: center;
	/*Manipulations stuff*/
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.page {
	/*Box model stuff*/
	width: 80%;
	margin: 2rem auto;
	border: 2px solid rgb(190, 190, 190);
	border-radius: 16px;
	background: white;
	/*Miscellaneous*/
	box-shadow: 5px 5px 15px rgb(100, 100, 100);
}

h1 {
	/*Box model stuff*/
	margin: 1rem 0;
}

h5 {
	/*Box model stuff*/
	margin: 0 0 0.5rem 0;
	/*Typography stuff*/
	font-family: sans-serif;
	font-size: 11px;
	color: rgb(110, 110, 110);
}

.pers-name {
	/*Display stuff*/
	display: grid;
	grid-template-columns: minmax(auto, 14%) minmax(auto, 36%) minmax(auto, 36%) minmax(
			auto,
			14%
		);
	grid-template-rows: 1fr 1fr 1fr;
	/*Box model stuff*/
	margin-bottom: 2rem;
	/*Miscellaneous*/
	grid-gap: 0.2rem;
}

.pers-info {
	/*Display stuff*/
	display: grid;
	grid-template-columns:
		minmax(auto, 14fr) minmax(auto, 24fr) minmax(auto, 24fr) minmax(auto, 24fr)
		minmax(auto, 14fr);
	/*Miscellaneous*/
	grid-gap: 0.2rem;
}

input {
	/*Box model stuff*/
	padding: 10px;
	border: 1px solid rgb(141, 141, 141);
	border-radius: 8px;
	background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
}

option {
	text-align: center;
}

#fname {
	/*Display stuff*/
	grid-column-start: 2;
	/*Typography stuff*/
	font-family: sans-serif, FontAwesome;
}

#lname {
	/*Display stuff*/
	grid-column-start: 3;
	/*Typography stuff*/
	font-family: sans-serif, FontAwesome;
}

#email {
	/*Display stuff*/
	grid-column: 2/4;
	grid-row-start: 2;
	/*Typography stuff*/
	font-family: sans-serif, FontAwesome;
}

#pwd {
	/*Display stuff*/
	grid-column: 2/4;
	grid-row-start: 3;
	/*Typography stuff*/
	font-family: sans-serif, FontAwesome;
}

select {
	/*Box model stuff*/
	padding-left: 0.8rem;
	border: 1px solid rgb(141, 141, 141);
	border-radius: 8px;
	background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
	/*Miscellaneous*/
	padding-block: 4px;
	cursor: pointer;
}

#bd-day {
	/*Display stuff*/
	grid-column-start: 2;
}

.container {
	/*Display stuff*/
	display: flex;
	justify-content: space-between;
	/*Box model stuff*/
	margin: 0;
	padding: 4px;
	border: 1px solid rgb(141, 141, 141);
	border-radius: 8px;
	background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
	/*Typography stuff*/
	font-family: sans-serif;
	font-size: 13px;
}

label {
	/*Display stuff*/
	grid-column-start: 3;
}

input[type="radio"] {
	/*Display stuff*/
	grid-column-start: 5;
	/*Miscellaneous*/
	margin-block: auto;
	cursor: pointer;
}

#male:checked:after {
	/*Display stuff*/
	content: "";
	display: inline-block;
	/*Positioning stuff*/
	position: relative;
	left: -1px;
	top: -1px;
	/*Box model stuff*/
	width: 10px;
	height: 10px;
	border: 1px;
	border: 2px solid rgb(0, 0, 0, 0.5);
	border-radius: 12px;
	background-color: #0084ff;
}

#female:checked:after {
	/*Display stuff*/
	content: "";
	display: inline-block;
	/*Positioning stuff*/
	position: relative;
	left: -1px;
	top: -1px;
	/*Box model stuff*/
	width: 10px;
	height: 10px;
	border: 1px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	background-color: #ff00f7;
}

#unicorn:checked:after {
	/*Display stuff*/
	content: "";
	display: inline-block;
	/*Positioning stuff*/
	position: relative;
	left: -1px;
	top: -1px;
	/*Box model stuff*/
	width: 10px;
	height: 10px;
	border: 1px;
	border: 2px solid rgb(0, 0, 0, 0.5);
	border-radius: 12px;
	background-color: #00ff1a;
}

.male {
	/*Display stuff*/
	grid-column-start: 2;
}

.female {
	/*Display stuff*/
	grid-column-start: 3;
}

.unicorn {
	/*Display stuff*/
	grid-column-start: 4;
}

button {
	/*Box model stuff*/
	margin: 1em auto 3em;
	padding: 0.8rem 2.5em;
	border: none;
	border-radius: 50px;
	background: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
	background-size: 300% 100%;
	/*Typography stuff*/
	font-weight: bold;
	color: #fff;
	/*Manipulations stuff*/
	transition: all 0.4s ease-in-out;
	/*Miscellaneous*/
	cursor: pointer;
	letter-spacing: 1px;
}

button:hover {
	/*Box model stuff*/
	background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
	background-position: 100% 0;
	/*Manipulations stuff*/
	transition: all 0.4s ease-in-out;
}

button:active {
	/*Box model stuff*/
	background: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
	/*Manipulations stuff*/
	transition: all 0.4s ease-in-out;
	/*Miscellaneous*/
	cursor: grabbing;
}

.margin_form {
	/*Display stuff*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*Box model stuff*/
	margin-bottom: 2em;
}

#color {
	/*Box model stuff*/
	padding: 2px 8px;
}

.margin-bot {
	/*Box model stuff*/
	margin-bottom: 2em;
}

@media (min-width: 700px) {
	.page {
		/*Box model stuff*/
		max-width: 700px;
	}
	.container {
		/*Display stuff*/
		display: grid;
		grid-template-columns: 10% 20% 40% 15% 15%;
	}
}

@media (max-width: 700px) {
	.pers-name {
		/*Display stuff*/
		display: grid;
		grid-template-columns:
			minmax(auto, 8%) minmax(auto, 44%) minmax(auto, 44%)
			minmax(auto, 8%);
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 0.2rem;
		/*Box model stuff*/
		margin-bottom: 2rem;
	}
	.pers-info {
		/*Display stuff*/
		display: grid;
		grid-template-columns:
			minmax(auto, 8fr) minmax(auto, 28fr) minmax(auto, 28fr) minmax(auto, 28fr)
			minmax(auto, 8fr);
		grid-gap: 0.2rem;
	}
}

@media (min-height: 700px) {
	.page {
		/*Box model stuff*/
		margin: 10rem auto;
	}
}
