body {
   margin: 0;
   background: rgb(57, 57, 87);
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   background-size: 400% 400%;
   animation: gradient 20s ease infinite;
   font-family: "Bakbak One", cursive;
   text-align: center;
   height: 100%;
   width: 100%;
}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

.page {
   margin: 2rem auto;
   width: 80%;
   border: 2px solid rgb(190, 190, 190);
   border-radius: 16px;
   background: white;
   box-shadow: 5px 5px 15px rgb(100, 100, 100);
}

h1 {
   margin: 1rem 0;
}

h5 {
   font-family: sans-serif;
   font-size: 11px;
   color: rgb(110, 110, 110);
   margin: 0 0 0.5rem 0;
}

.pers-name {
   display: grid;
   grid-template-columns: minmax(auto, 14%) minmax(auto, 36%) minmax(auto, 36%) minmax(
         auto,
         14%
      );
   grid-template-rows: 1fr 1fr 1fr;
   grid-gap: 0.2rem;
   margin-bottom: 2rem;
}

.pers-info {
   display: grid;
   grid-template-columns:
      minmax(auto, 14fr) minmax(auto, 24fr) minmax(auto, 24fr) minmax(
         auto,
         24fr
      )
      minmax(auto, 14fr);
   grid-gap: 0.2rem;
}

input {
   border: 1px solid rgb(141, 141, 141);
   border-radius: 8px;
   background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
   padding: 10px;
}

#fname {
   grid-column-start: 2;
   font-family: sans-serif, FontAwesome;
}

#lname {
   grid-column-start: 3;
   font-family: sans-serif, FontAwesome;
}

#email {
   grid-row-start: 2;
   grid-column: 2/4;
   font-family: sans-serif, FontAwesome;
}

#pwd {
   grid-row-start: 3;
   grid-column: 2/4;
   font-family: sans-serif, FontAwesome;
}

select {
   border: 1px solid rgb(141, 141, 141);
   border-radius: 8px;
   padding-block: 4px;
   padding-left: 0.8rem;
   background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
}

#bd-day {
   grid-column-start: 2;
}

#bd-month {
   grid-column-start: 3;
}

#bd-year {
   grid-column-start: 4;
}

.border {
   margin: 0;
   border: 1px solid rgb(141, 141, 141);
   border-radius: 8px;
   font-family: sans-serif;
   font-size: 13px;
   padding: 4px;
   display: flex;
   justify-content: space-between;
   background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
}

label {
   grid-column-start: 3;
}

input[type="radio"] {
   margin-block: auto;
   grid-column-start: 5;
}

.male {
   grid-column-start: 2;
}

.female {
   grid-column-start: 3;
}

.unicorn {
   grid-column-start: 4;
}

button {
   border: none;
   background: linear-gradient(#e73c7e, #ee7752);
   padding: 0.8rem 2.5rem;
   border-radius: 0.4rem;
   margin: 1rem auto 3rem;
   box-shadow: 0px 0px 0px green;
   cursor: pointer;
   font-weight: bold;
}

button:hover {
   background: linear-gradient(#ee7752, #e73c7e);
}

button:active {
   background: linear-gradient(#e73c7e, #ee7752);
}

@media (min-width: 700px) {
   .page {
      max-width: 700px;
   }
   .border {
      display: grid;
      grid-template-columns: 10% 20% 40% 15% 15%;
   }
}

@media (max-width: 700px) {
   .pers-name {
      display: grid;
      grid-template-columns:
         minmax(auto, 8%) minmax(auto, 44%) minmax(auto, 44%)
         minmax(auto, 8%);
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 0.2rem;
      margin-bottom: 2rem;
   }
   .pers-info {
      display: grid;
      grid-template-columns:
         minmax(auto, 8fr) minmax(auto, 28fr) minmax(auto, 28fr) minmax(
            auto,
            28fr
         )
         minmax(auto, 8fr);
      grid-gap: 0.2rem;
   }
}

@media (min-height: 700px) {
   .page {
      margin: 10rem auto;
   }
}
